@import '../../styles/utils/base';

@import '../../styles/utils/base';

.sidebar{
    height: 100svh;
    background-color: rgba($color: pink, $alpha: 0.5);
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;

    // display: none;
    
    .mask{
        background: rgba($color: #000000, $alpha: 0.5);

        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;

        transform: translateX(100%);

        transition: all .5s;
        transition-delay: .2s;
    }

    .visibleMask{
        transform: translateX(0);
    }

    .sidebarContainer{
        height: 100%;
        width: max-content;
        background-color: $color-light;
        padding: 9rem 5rem 6rem 5rem;
        margin-left: auto;
        
        display: flex;
        flex-direction: column;

        position: absolute;
        top: 0;
        right: 0;

        transform: translateX(100%);
        transition: all .5s;
        
        .accountHeading{
            font-size: 2.4rem;
            font-weight: 600;
            letter-spacing: .5rem;
            text-transform: uppercase;
            color: $color-secondary;
            margin-bottom: 1rem;
        }
        .description{
            font-size: 1.4rem;
            text-transform: uppercase;
            letter-spacing: .3rem;
            max-width: 40rem;
            line-height: 1.4;
        }

        .formContainer{
            padding: 8rem 0;

            .loginHeading{
                font-size: 2.4rem;
                font-weight: 600;
                text-transform: uppercase;
                margin-bottom: 4rem;
                text-align: center;
                color: $color-secondary;
            }
        }
        .signUpBtnContainer{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1rem;

            .text{
                font-size: 1.8rem;
                font-weight: 600;
                text-transform: uppercase;
                letter-spacing: 0.4rem;
                margin-bottom: 2rem;
            }
        }
        .crossBtn{
            margin-top: 3rem;
            margin-right: 3rem;
            background-color: transparent;
            border: none;
            height: 2rem;
            width: 2rem;
            cursor: pointer;
    
            position: absolute;
            top: 0;
            right: 0;
    
            .icon{
                height: 100%;
                width: 100%;
                object-fit: contain;
            }
        }
    }
    .visibleSidebar{
        transform: translateX(0);
    }
}
.visibleCart{
    display: inline;
}

