@import '../../../../styles/utils/base';

.latestArrival{
    .headingContainer{
        padding: 3.6rem 0 3.2rem 0;
        margin: 8.8rem 15rem;
        border-top: 1px solid $color-dark;
        border-bottom: 1px solid $color-dark;

        @include response(phone){
            margin: 8rem 5rem;
        }

        .heading{
            font-size: 4.2rem;
            font-weight: 600;
            letter-spacing: 1rem;
            text-transform: uppercase;
            text-align: center;

            @include response(phone){
                white-space: nowrap;
            }
        }
    }
}
