@import '../../styles/utils/base';

.newArrivalSection{
    .newArrivalProduct{
        display: flex;

        @include response(phone){
            flex-direction: column;
        }

        .contentContainer{
            flex: 1;
            padding: 17.4rem 2rem;
            background: linear-gradient(#99EEC9, #DFBD91);

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            @include response(phone){
                padding: 15rem 0;
            }

            .heading{
                font-size: 2.4rem;
                font-weight: 600;
                color: $color-dark;
                text-transform: uppercase;
                letter-spacing: .5rem;
                margin-bottom: 3rem;
            }
            .title{
                font-size: 3.6rem;
                font-weight: 600;
                color: $color-dark;
                text-transform: uppercase;
                letter-spacing: .5rem;
                margin-bottom: 3rem;
                max-width: 49rem;
                text-align: center;
                line-height: 1.3;
            }
        }
        .imgContainer{
            flex: 1;
            overflow: hidden;
            background-color: orangered;            

            .img{
                height: 100%;
                width: 100%;
                object-fit: cover;

                @include response(phone){
                    transform: scale(1.1);
                }
            }
        }
    }
}
