@import '../../../../styles/utils/base';

.productListSection{
    position: relative;
    padding: 8.7rem 15rem 12rem 15rem;
    background-color: $color-light;

    display: grid;
    grid-template-columns: [col-full-start col-filter-start] 30rem [col-filter-end col-productList-start] 1fr [col-productList-end col-full-end];
    grid-template-rows: [row-start] auto [row-end];
    row-gap: 2.6rem;
    column-gap: 12rem;

    @include response(tab-port){
        padding: 10rem 5rem;
        grid-template-columns: [col-start] 1fr [col-end];
        gap: 2rem;
    }

    .header{
        grid-column: col-full-start / col-full-end;
        grid-row: row-start 1 / row-end 1;

        position: relative;
        padding: 1.3rem 0;
        border-top: 1px solid $color-dark;
        border-bottom: 1px solid $color-dark;

        display: flex;
        justify-content: center;

        @include response(tab-port){
            grid-column: col-start / col-end;
        }

        .heading{
            font-size: 3rem;
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: .5rem;
            color: $color-dark;
        }
        .dropdown{
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);

            display: flex;
            align-items: center;
            gap: 2rem;

            .dropdownBtn{
                font-size: 1.8rem;
                text-transform: uppercase;
                letter-spacing: .5rem;
                color: $color-dark;
                background-color: transparent;
                border: none;
                cursor: pointer;
            }
            .icon{
                height: 1rem;
                width: 1.9rem;
            }
        }
    }
    .filter{
        grid-column: col-filter-start / col-filter-end;
        grid-row: row-start 2 / row-end 2;

        @include response(tab-port){
            display: none;
            background-color: orangered;
            // position: absolute;
            grid-column: col-start / col-end;
        }
    }
    .productList{
        grid-column: col-productList-start / col-productList-end;
        grid-row: row-start 2 / row-end 2;

        // display: grid;
        // grid-template-columns: repeat(3, 1fr);
        // column-gap: 4.3rem;

        @include response(tab-port){
            grid-column: col-start / col-end;
            // grid-template-columns: repeat(2, 1fr);
            // gap: 2rem;
        }
    }
}

.bgColorGreen{
    background-color: $color-light-green;
}
.bgColorYellow{
    background-color: $color-light-yellow;
}
.bgColorPink{
    background-color: $color-light-pink;
}
