@import '../../../../styles/utils/base';

.loginSignUp{
    position: relative;
    padding: 8rem 30rem 8rem 15rem;

    display: grid;
    grid-template-columns: max-content repeat(2, 1fr);
    gap: 15rem;

    .heading{
        font-size: 3rem;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: .5rem;
        color: $color-secondary;
    }
    .loginContainer,
    .signUpContainer{
        h2{
            font-size: 3rem;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: .5rem;
            margin-bottom: 5rem;
        }
    }

    &::before{
        content: '';
        display: block;
        height: 1px;
        width: 85%;
        background-color: $color-dark;

        position: absolute;
        top: 0;
        left: 50%;

        transform: translateX(-50%);
    }
}
