$color-primary: #CBAC70;
$color-secondary: #FFFCFD;

$color-dark-brown: #312F2B;

$color-background: #101213;
$color-background-one: #292626;
$color-background-two: #373126;
$color-background-three: #14281D;

$color-error: rgb(151, 61, 61);
$color-success: rgb(61, 151, 109);