@import '../../../styles/utils/base';

.navItem{
    font-size: 1.8rem;
    font-weight: 300;
    letter-spacing: .2rem;
    text-transform: uppercase;

    @include response(phone){
        font-size: 3rem;
    }
    
    .navLink{
        text-decoration: none;
        color: $color-dark;

        @include response(phone){
            color: $color-light;
        }
    }

    .highlight{
        display: block;
        height: .6rem;
        width: 0;
        margin-top: 1.4rem;
        background-color: $color-secondary;
        transition: all .25s;

        @include response(phone){
            margin-top: .8rem;
        }
    }

    .highlightActive{
        width: 100%;
    }

    .navLink:hover ~ .highlight{
        width: 100%;
    }
}
