@import '../../../styles/utils/base';

.navItem{
    font-size: 1.8rem;
    font-weight: 300;
    color: $color-dark;
    letter-spacing: .2rem;
    text-transform: uppercase;

    .navLink{
        text-decoration: none;
        color: $color-dark;
    }

    .highlight{
        display: block;
        height: .6rem;
        width: 0;
        margin-top: 1.4rem;
        background-color: $color-secondary;
        transition: all .25s;
    }

    .highlightActive{
        width: 100%;
    }

    .navLink:hover ~ .highlight{
        width: 100%;
    }
}
